<div class="main-content">
	<div class="page-content" nv-file-drop="" uploader="uploader"
		filters="queueLimit, customFilter">
		<div class="page-header">
				<h1>
					Eventos <small> <i
						class="ace-icon fa fa-angle-double-right"></i> Crear Evento
					</small>
				</h1>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<form class="form-horizontal" role="form" name="fevento"
					novalidate ng-submit="guardarEvento(fevento)">
					<!-- #section:elements.form -->
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							   for="form-field-1"> Nombre</label>

						<div class="col-sm-9">
							<input type="text" id="form-field-1" ng-max="20" required placeholder="Nombre evento"
								   class="col-xs-10 col-sm-5" ng-model="evento.name" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							   for="form-field-1">Categor&iacutea</label>

						<div class="col-sm-9">
							<select name="repeatSelect" id="repeatSelect" required ng-model="evento.category"
									>
								<option value="conferencia">Conferencia</option>
								<option value="seminario">Seminario</option>
								<option value="congreso">Congreso</option>
								<option value="curso">Curso</option>
							</select>
						</div>

					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							   for="form-field-1"> Lugar </label>

						<div class="col-sm-9">
							<input type="text" required ng-max="20" id="form-field-1"
								   placeholder="Lugar" class="col-xs-10 col-sm-5"
								   ng-model="evento.place" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							   for="form-field-1"> Direcci&oacuten </label>

						<div class="col-sm-9">
							<input type="text" required ng-max="100" id="form-field-1" placeholder="Dirrección"
								   class="col-xs-10 col-sm-5" ng-model="evento.address" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							   for="form-field-2">Evento presencial</label>
						<div class="col-sm-4">
							<input name="form-field-checkbox" type="checkbox" class="ace"
								   ng-model="evento.isPresencial" /> <span class="lbl"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							   for="timepicker">Fecha Inicio</label>
						<div class="col-sm-3">
							<input type="text" uib-datepicker-popup ng-model="evento.initialDate" readonly is-open="statusInitial.opened" min-date="minDate" max-date="maxDate" ng-required="true" close-text="Close" />
							<button type="button" ng-click="openInitial($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</div>
					</div>
                    <div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Fecha Fin </label>
                        <div class="col-sm-3">
                            <input type="text"  uib-datepicker-popup ng-model="evento.finalDate" readonly is-open="statusFinal.opened" min-date="minDate" max-date="maxDate" ng-required="true" close-text="Close" />
                            <button type="button"  ng-click="openFinal($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </div>
                    </div>

					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info" type="submit" ng-disabled="fevento.$invalid">
								<i class="ace-icon fa fa-check bigger-110"></i> Crear evento
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>