<div class="main-content">
	<div class="page-content">
		<div class="page-header">
				<h1>
					Servicios <small> <i
						class="ace-icon fa fa-angle-double-right"></i> Crear Transporte
					</small>
				</h1>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<form class="form-horizontal" role="form" name="fService" novalidate
					ng-submit="guardarTransporte(fService)" ng-hide="saving">
					<!-- #section:elements.form -->
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="form-field-3">Nombre</label>
						<div class="col-sm-9">
							<input type="text" id="form-field-1"
								placeholder="Nombre del transporte" class="col-xs-10 col-sm-5"
								ng-model="transporte.servicio.nombre" />
						</div>
						<!-- 										<div class="col-sm-4" id="slider-eq"> -->
						<!-- 											<span class="ui-slider-green ui-slider-small">77</span> -->
						<!-- 										</div> -->
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="form-field-2">Descripcion</label>

						<div class="col-sm-9">
							<textarea id="form-field-2"
								class="autosize-transition form-control"
								ng-model="transporte.servicio.descripcionCorta"></textarea>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="form-field-1"> Ciudad Origen </label>

						<div class="col-sm-9">
							<input type="text" id="form-field-1" placeholder="Bogota"
								class="col-xs-10 col-sm-5" ng-model="transporte.lugarOrigen" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="form-field-1"> Ciudad Destino</label>

						<div class="col-sm-9">
							<input type="text" id="form-field-1" placeholder="Bogota"
								class="col-xs-10 col-sm-5" ng-model="transporte.lugarDestino" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="form-field-3">Tipo</label>
						<div class="col-sm-9">
							<select id="form-field-3" class="col-xs-10 col-sm-5"
								ng-model="transporte.tipoTransporte"
								ng-options="tipo for tipo in transportTypes"></select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="form-field-3">Valor</label>
						<div class="col-sm-9">
							<input type="text" id="form-field-1" placeholder="50000"
								class="col-xs-10 col-sm-5" ng-model="transporte.servicio.precio" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="form-field-1"> Tiempo de recorrido (en horas)</label>

						<div class="col-sm-9">
							<input type="text" id="form-field-1" placeholder="1"
								class="col-xs-10 col-sm-5" ng-model="transporte.tiempoEstimado" />

						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="timepicker">Horario Inicio</label>
						<div class="col-sm-9 bootstrap-timepicker">
							<input id="timepicker" type="text" class="col-xs-10 col-sm-5"
								ng-model="transporte.horarioInicio" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="timepicker">Horario Fin</label>
						<div class="col-sm-9 bootstrap-timepicker">
							<input id="timepicker" type="text" class="col-xs-10 col-sm-5"
								ng-model="transporte.horarioFin" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="timepicker1">Numero de Pasajeros</label>
						<div class="col-sm-9">
							<input type="text" id="form-field-1"
								placeholder="100" class="col-xs-10 col-sm-5"
								ng-model="transporte.servicio.capacidad" />
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="form-field-3">Desde</label>
						<div class="col-sm-3">
				        	<input type="text" uib-datepicker-popup ng-model="transporte.servicio.fechaInicial" is-open="statusInitial.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
				            <button type="button" ng-click="openInitial($event)">
				            	<i class="glyphicon glyphicon-calendar"></i>
				            </button>
				        </div>
				        <label class="col-sm-1" for="form-field-1">Hasta </label>
				        <div class="col-sm-3">
				             <input type="text"  uib-datepicker-popup ng-model="transporte.servicio.fechaFinal" is-open="statusFinal.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
				             <button type="button"  ng-click="openFinal($event)">
				             	<i class="glyphicon glyphicon-calendar"></i>
				             </button>
				        </div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="form-field-3">Caracteristicas</label>
						<div class="col-sm-4">
							<!-- #section:custom/checkbox -->
							<div class="checkbox"
								ng-repeat="caracteristica in caracteristicas">
								<label for="{{caracteristica}}"> <input
									name="form-field-checkbox" type="checkbox" class="ace"
									ng-model="selection[caracteristica]" id="{{caracteristica}}" />
									<span class="lbl">{{caracteristica}}</span>
								</label>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="form-field-2">Restricciones</label>

						<div class="col-sm-9">
							<textarea id="form-field-2"
								class="autosize-transition form-control"
								ng-model="transporte.servicio.restricciones"></textarea>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="form-field-2">Activo</label>
						<div class="col-sm-4">
							<input name="form-field-checkbox" type="checkbox" class="ace"
								ng-model="alojamiento.servicio.activo" /> <span class="lbl"></span>
							<!-- 											<input name="form-field-radio" type="radio" class="ace" ng-model="alojamiento.servicio.activo" /> -->
							<!-- 											<span class="lbl"></span> -->
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="form-field-2"></label>
						<div class="col-sm-9">
							<h3>Select files</h3>
							<!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
							<input type="file" nv-file-select="" uploader="uploader" multiple /><br />
							<table class="table">
								<thead>
									<tr>
										<th>Name</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in uploader.queue">
										<td><strong>{{ item.file.name }}</strong>
											<div ng-show="uploader.isHTML5"
												ng-thumb="{ file: item._file, height: 100 }"></div></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info" type="submit">
								<i class="ace-icon fa fa-check bigger-110"></i> Submit
							</button>

							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="button">
								<i class="ace-icon fa fa-undo bigger-110"></i> Reset
							</button>
						</div>
					</div>

					<hr />

				</form>

				<div class="hr hr-18 dotted hr-double"></div>

				<div class="hr hr-18 dotted hr-double"></div>
			</div>
		</div>

	</div>
</div>
