		<div class="main-content">
			<div class="main-content-inner">
				<!-- #section:basics/content.breadcrumbs -->
			
				<!-- /section:basics/content.breadcrumbs -->
				<div class="page-content">
					<!-- #section:settings.box -->
					
					<!-- /.ace-settings-container -->

					<!-- /section:settings.box -->
					<div class="page-header">
						<h1>
							Eventos <small> <i
								class="ace-icon fa fa-angle-double-right"></i>Eliminar Eventos
							</small>
						</h1>
					</div>
					
					<!-- /.page-header -->
<!-- 					<div ng-app="providersapp" ng-controller="samplecontroller" ng-init="getCategory()" > -->
					<div ng-app="providersapp" ng-controller="samplecontroller" ng-init="getPackages('')">
					
					<div>
				   <hr>					
						
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="row">
									<div class="col-xs-12">
										<table id="simple-table"
											class="table  table-bordered table-hover">
											<thead>
												<tr>
													<th class="center">Nombre</th>
													<th class="center">Categoria</th>
													<th class="hidden-480 center">Lugar</th>
                                                    <th class="center">Eliminar</th>
												</tr>
											</thead>

											<tbody>
												<tr ng-repeat="event in events track by $index">
													<td>{{ event.name }}</td>
													<td>{{ event.category }}</td>
													<td>{{ event.place }}</td>
													<td class="center">
														<div class="action-buttons">
															<a href="#" ng-click="eliminatePackage(event.idEvent);"
															   class="green bigger-140 show-details-btn"
															   title="Show Details"> <i
																	class="ace-icon fa fa-angle-double-down"></i> <span
																	class="sr-only">{{ event.idEvent }}</span>
															</a>
														</div>
													</td>
												</tr>
											</tbody>
											<!--tbody>
												<tr ng-repeat="listPackages in listPackages track by listPackages.id">
                                                     <td>{{ listPackages.nombre }}</td>												
													<td class="center">{{ listPackages.precio }}</td>
													<td>{{ listPackages.descripcion }}</td>
													<td class="center" ><div class="btn-group dropup">
																<button ng-click="eliminatePackage(listPackages.id);"  class="btn btn-xs btn-danger">Eliminar</button>
																</div></td>
												</tr>
											</tbody-->
										</table>
									</div>
								</div>
							</div>
						</div>						  
					</div>
				</div>
			</div>
		</div>
		<!-- /.main-content -->

		<a href="#" id="btn-scroll-up"
			class="btn-scroll-up btn btn-sm btn-inverse"> <i
			class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
		</a>
	</div>
