<div class="main-container" id="main-container">
	<div class="main-content">
		<!-- /section:basics/content.breadcrumbs -->
		<div class="page-content">
			<div class="page-header">
				<h1>
					Paquetes <small> <i
						class="ace-icon fa fa-angle-double-right"></i>Consultar Paquetes
					</small>
				</h1>
			</div>
			<div>
				<form name="myForm">
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="form-field-1">Filtrar por Nombre </label>

						<div class="col-sm-9">
							<input ng-model="filtrarnombre" type="text" id="form-field-1"
								placeholder="Nombre" class="col-xs-10 col-sm-5" />
						</div>
					</div>
					<div class="col-md-offset-3 col-md-9">
						<button ng-click="getPackages(filtrarnombre)"
							class="btn btn-sm btn-primary" type="button">
							<i class="ace-icon fa fa-check bigger-110"></i> Consultar
						</button>
					</div>
				</form>
				<hr>
				<hr>
				<div class="row">
					<div class="col-xs-12">
						<!-- PAGE CONTENT BEGINS -->
						<div class="row">
							<div class="col-xs-12">
								<table id="simple-table"
									class="table  table-bordered table-hover">
									<thead>
										<tr>
											<th class="center">Nombre</th>
											<th class="center">Descripcion</th>
											<th class="center">Servicios</th>
											<th class="center">Precio</th>
										</tr>
									</thead>
									<tbody>
										<tr
											ng-repeat="listPackages in listPackages track by listPackages.id">
											<td>{{ listPackages.nombre }}</td>
											<td>{{ listPackages.descripcion }}</td>
											<td class="center">
												<div class="action-buttons">
													<a href="#" ng-click="getPackage(listPackages.id);"
														class="green bigger-140 show-details-btn"
														title="Show Details"> <i
														class="ace-icon fa fa-angle-double-down"></i> <span
														class="sr-only">{{ listPackages.id }}</span>
													</a>
												</div>
											</td>


											<td>{{ listPackages.precio }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="page-header">
					<h1>
						<small> <i class="ace-icon fa fa-angle-double-right"></i>Detalles
						</small>
					</h1>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<!-- PAGE CONTENT BEGINS -->
						<div class="row">
							<div class="col-xs-12">
								<table id="simple-table"
									class="table  table-bordered table-hover">
									<thead>
										<tr>
											<th class="center">Categoria</th>
											<th class="center">Nombre</th>
											<th class="center">Detalles</th>
											<th class="center">Precio</th>
											<th class="hidden-480 center">Descripción Corta</th>
											<th class="center">Ciudad</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="listaServicios in listaServicios">
											<td>{{ listaServicios.paquete.nombre }}</td>
											<td>{{ listaServicios.nombre }}</td>
											<td class="center">
												<div class="action-buttons">
													<a href="#"
														ng-click="especifico(listaServicios.id,listaServicios.idCategoria);"
														class="green bigger-140 show-details-btn"
														title="Show Details"> <i
														class="ace-icon fa fa-angle-double-down"></i> <span
														class="sr-only">{{ listaServicios.id }}</span>
													</a>
												</div>
											</td>


											<td>{{ listaServicios.precio }}</td>
											<td>{{ listaServicios.descripcionCorta }}</td>
											<td>{{ listaServicios.ciudad }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.main-content -->
	<a href="#" id="btn-scroll-up"
		class="btn-scroll-up btn btn-sm btn-inverse"> <i
		class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
	</a>
</div>
