<div class="main-content">
	<div class="main-content-inner">
		<!-- #section:basics/content.breadcrumbs -->

		<!-- /section:basics/content.breadcrumbs -->
		<div class="page-content">
			<div class="page-header">
				<h1>
					Eventos <small> <i
						class="ace-icon fa fa-angle-double-right"></i>Consultar Eventos
					</small>
				</h1>
			</div>
			<div>
				<div class="row">
					<div class="col-xs-12">
						<!-- PAGE CONTENT BEGINS -->
						<div class="row">
							<div class="col-xs-12">
								<table id="simple-table"
									class="table  table-bordered table-hover">
									<thead>
										<tr>
											<th class="center">Nombre</th>
											<th class="center">Categoria</th>
											<th class="center">Lugar</th>
											<th class="center">Detalle</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="event in events track by $index">
											<td>{{ event.name }}</td>
											<td>{{ event.category }}</td>
											<td>{{ event.place }}</td>
											<!--td><a ng-click="getPregunta(event.idEvent);"
												ui-sref="responderpregunta"
												ng-show="event.idEvent == null"
												class="btn btn-danger btn-sm"> <i
													class="ace-icon fa fa-reply icon-only"></i></a>
											</td-->
											<td class="center">
												<div class="action-buttons">
													<a href="#" ng-click="getEvent(event.idEvent);"
													   class="green bigger-140 show-details-btn"
													   title="Show Details"> <i
															class="ace-icon fa fa-angle-double-down"></i> <span
															class="sr-only">{{ event.idEvent }}</span>
													</a>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div ng-hide="ocultarSeccionActualizarPaquete" class="ng-hide" class="page-header">
							<h1>
								<small> <i class="ace-icon fa fa-angle-double-right"></i>Detalles
								</small>
							</h1>
						</div>
						<div ng-hide="ocultarSeccionActualizarPaquete" class="ng-hide" class="row">
							<form name="userForm" ng-submit="updateEvent()" novalidate>
								<div  >
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right"
											   for="form-field-1"> Nombre </label>

										<div class="col-sm-9">
											<input  ng-model="event.name" required ng-max="20" readonly
													type="text" id="form-field-1" placeholder="Nombre"
													class="col-xs-10 col-sm-5" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right"
											   for="form-field-1"> Categoría </label>
										<div class="col-sm-9">
											<input  ng-model="event.category" required readonly
													type="text" id="form-field-1" placeholder="categoria"
													class="col-xs-10 col-sm-5" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right"
											   for="form-field-1"> Lugar </label>

										<div class="col-sm-9">
											<input required required ng-max="10" readonly
												   ng-model="event.place" type="text" id="form-field-1"
												   placeholder="Precio" class="col-xs-10 col-sm-5" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right"
											   for="form-field-1"> Dirección </label>

										<div class="col-sm-9">
											<input required required ng-max="100" readonly
												   ng-model="event.address" type="text" id="form-field-1"
												   placeholder="Dirección" class="col-xs-10 col-sm-5" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right"
											   for="form-field-1"> Fecha Inicio </label>

										<div class="col-sm-9 bootstrap-timepicker">
											<input required numbers-only required ng-max="100" readonly
												   ng-model="event.initialDate" type="text" id="form-field-1"
												   placeholder="Fecha Inicio" class="col-xs-10 col-sm-5" />
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right"
											   for="timepicker">Fecha Fin</label>
										<div class="col-sm-9 bootstrap-timepicker">
											<input id="timepicker2" required type="text" class="col-xs-10 col-sm-5"
												   readonly ng-model="event.finalDate" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right"
											   for="form-field-2">Evento presencial</label>
										<div class="col-sm-4">
											<input name="form-field-checkbox" required type="checkbox" class="ace"
												   readonly ng-model="event.isPresencial" /> <span class="lbl"></span>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.main-content -->

	<a href="#" id="btn-scroll-up"
		class="btn-scroll-up btn btn-sm btn-inverse"> <i
		class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
	</a>
</div>
