<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title>User Profile Page - Ace Admin</title>

<meta name="description" content="3 styles with inline editable feature" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

<!-- bootstrap & fontawesome -->
<link rel="stylesheet" href="../assets/css/bootstrap.css" />
<link rel="stylesheet" href="../assets/css/font-awesome.css" />

<!-- page specific plugin styles -->
<link rel="stylesheet" href="../assets/css/jquery-ui.custom.css" />
<link rel="stylesheet" href="../assets/css/jquery.gritter.css" />
<link rel="stylesheet" href="../assets/css/select2.css" />
<link rel="stylesheet" href="../assets/css/bootstrap-datepicker3.css" />
<link rel="stylesheet" href="../assets/css/bootstrap-editable.css" />
<link rel="stylesheet" href="../assets/css/popup.css" />

<!-- text fonts -->
<link rel="stylesheet" href="../assets/css/ace-fonts.css" />

<!-- ace styles -->
<link rel="stylesheet" href="../assets/css/ace.css"
	class="ace-main-stylesheet" id="main-ace-style" />
<script src="../assets/js/ace-extra.js"></script>
<script src="../../vendor/angular/angular.js"></script>
<script src="../../js/controllers/AppCtrl.js"></script>
</head>
<body class="no-skin">
	<div>
		<div ng-app="providersapp" ng-controller="samplecontroller">

			<div id="user-profile-1" class="user-profile row">
				<div class="col-xs-12 col-sm-9">
					<div class="space-12"></div>
					<!-- #section:pages/profile.info -->
					<div>
						<div class="">
							<div align="center">
								 <p>{{ respuestaCreacion }}</p>
							</div>
						</div>

						
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
