    <div class="container main-container">
        <div class="row">

        	<div class="clearfix visible-sm"></div>

			<!-- FAQ -->
        	<div class="col-lg-12 col-md-12 col-sm-12">
        		<div class="col-lg-12 col-sm-12">
            		<span class="title">PREGUNTAS FRECUENTES</span>
            	</div>
	            <div class="col-lg-12 col-sm-12 hero-feature">
                    <div class="row">
                    	<div class="col-xs-12 blog-list" ng-repeat="faq in faqs">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<h4><p style="color:#337ab7;"><i class="fa fa-check-square-o"></i> {{faq.titulo}}</p></h4>
		                        <p>
									{{faq.descripcion}}
								</p>
							</div>
						</div>
                    </div>
<!--                     <div class="text-center"> -->
<!-- 			        	<ul class="pagination catalogue-pagination"> -->
<!-- 							<li class="disabled"><a>First</a></li> -->
<!-- 							<li class="disabled"><a>Prev</a></li> -->
<!-- 							<li class="active"><a href="#">1</a></li> -->
<!-- 							<li><a href="#">2</a></li> -->
<!-- 							<li><a href="#">3</a></li> -->
<!-- 							<li><a href="#">4</a></li> -->
<!-- 							<li><a href="#">Next</a></li> -->
<!-- 							<li><a href="#">Last</a></li> -->
<!-- 						</ul> -->
<!-- 					</div> -->

	            </div>
        	</div>
        	<!-- End FAQ -->
        </div>
	</div>