<footer>
	<div class="container">
		<div class="col-lg-4 col-md-4 col-sm-6">
			<div class="column">
				<h4>Información</h4>
				<ul>
					<li><a ui-sref="about">Acerca de nosotros</a></li>
					<li><a>Políticas de Privacidad</a></li>
					<li><a>Términos y Condiciones</a></li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6">
			<div class="column">
				<h4>Servicio al Cliente</h4>
				<ul>
					<li><a ui-sref="contact">Contáctanos</a></li>
					<li>Phone: +3219998909</li>
					<li>Email: viagging.orange@gmail.com</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6">
			<div class="column">
				<h4>Síguenos</h4>
				<ul class="social">
					<li><a target="__blank" href="#">Facebook</a></li>
					<li><a target="__blank" ui-sref="https://twitter.com/Viagging2016">Twitter</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="navbar-inverse text-center copyright">Copyright
		&copy; 2016 Orange All right reserved</div>
</footer>