    <div class="container">

        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="white-container">
                <span class="title">REGISTRO</span>
                <p>A continuación se encuentra el formulario de registro.</p>

                <!-- Form Register -->
                <form ng-submit="registerUser()">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label for="first_name">Nombre (*)</label>
                        <input type="text" class="form-control"
                        	ng-model="user.primerNombre" required><br clear="all"/>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label for="first_name">Apellido (*)</label>
                        <input type="text" class="form-control"
                        	ng-model="user.primerApellido" required><br clear="all"/>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label for="email">Email (*)</label>
                        <input type="text" class="form-control" id="email"
                        	ng-model="user.correo" required><br clear="all"/>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label for="username">Nombre de Usuario (*)</label>
                        <input type="text" class="form-control" id="username"
                        	ng-model="user.login" required><br clear="all"/>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label for="password">Contraseña (*)</label>
                        <input type="password" class="form-control" id="password"
                        	ng-model="user.password" required
                        	autocomplete="off"><br clear="all"/>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label for="confirm_password">Confirmar Contraseña (*)</label>
                        <input type="password" class="form-control" id="confirm_password"
                        	ng-model="user.passwordCopy"
                        	autocomplete="off"><br clear="all"/>
                    </div>
                    <div class="clearfix"></div>
                    <!--div class="checkbox">
                        <label>
                            <input type="checkbox"> I agree with <a href="#">Terms and Conditions.</a>
                        </label>
                    </div-->
                    <button type="submit" class="btn btn-danger">Registrarme</button>
                </form>
                <!-- End Form Register -->
            </div>

        </div>

        <div class="col-lg-4 col-md-4 col-sm-4">

            <!-- Login Form -->
            <div class="white-container">
                <span class="title">YA ESTÁS REGISTRADO ?</span>
                <form role="form" ng-submit="loginUser()">
                    <div class="form-group">
                        <div class="input-group login-input">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" placeholder="Usuario"
                            	ng-model="userLogin.login" required>
                        </div>
                        <br>
                        <div class="input-group login-input">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" class="form-control" placeholder="Contraseña"
                            	ng-model="userLogin.password" required>
                        </div>
                        <div class="checkbox">
<!--                             <label> -->
<!--                                 <input type="checkbox"> Remember me -->
<!--                             </label> -->
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary pull-right"><i class="fa fa-long-arrow-right"></i> Login</button>
                        <button ng-if="variability.hasFacebook" type="button" class="btn btn-xs btn-primary btn-login-social" ng-click="loginFacebookUser()"><i class="fa fa-facebook"></i></button>
                        <button ng-if="variability.hasTwitter" type="button" class="btn btn-xs btn-info btn-login-social" ng-click="loginTwitterUser()"><i class="fa fa-twitter"></i></button>
                        <br ng-if="!variability.hasTwitter && !variability.hasFacebook">
                    </div>
                </form>
            </div>
           	<!-- End Login Form -->

        </div>

    </div>